<% title(@article.title, "Статьи") %>
<div class="page-header">
  <h3><%= @article.title %></h3>

  <ul class="actions">
    <% admin_only do %>
        <li><%= link_to "Редактировать", edit_admin_article_path(@article), class: "edit" %></li>
        <li>
          <%= link_to "Удалить",
                      admin_article_path(@article),
                      method: :delete,
                      data: {confirm: "Вы действительно хотите удалить статью?"},
                      class: "delete"
          %>
        </li>
    <% end %>
  </ul>
</div>
<p><%= @article.text.html_safe %></p>
<p id='author'>Создано: <%#= @article.author %>, <%#= time_ago_in_words(@article.created_at) %> назад</p>