<% title(@article.title, "Статьи") %>
<p id="notice"><%= notice %></p>

<div class="page-header">
  <h3><%= @article.title %></h3>
</div>
<p><%= @article.text.html_safe %></p>


<% if @attachments.any? %>
  <p>
    <strong>Прикрепленные файлы:</strong>

    <table class="table table-hover">
      <tbody>
        <% @attachments.each do |a| %>
          <tr>
            <td>
              <%= link_to a.attributes['attach'], "/attachment/#{a.attributes['id']}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </p>
<% end %>