<% title("Администрирование") %>
<h3 class="text-center">Администрирование</h3>
<ul class="nav nav-stacked">
  <li><%= link_to " Пользователи", admin_users_path, class: 'glyphicon glyphicon-eye-open' %></li>
  <li><%= link_to " Новости", admin_items_path, class: 'glyphicon glyphicon-th-list' %></li>
</ul>