<% title('Администрирование') %>
<h3 class="text-center">Администрирование</h3>
<div id="admin">
	<ul class="nav nav-stacked">
	  <li><h3><%= link_to ' Пользователи', admin_users_path, class: 'glyphicon glyphicon-eye-open' %></h3></li>
	  <li><h3><%= link_to ' Новости', admin_items_path, class: 'glyphicon glyphicon-th-list' %></h3></li>
	  <li><h3><%= link_to ' Страницы', admin_pages_path, class: 'glyphicon glyphicon-file' %></h3></li>
      <li><h3><%= link_to ' Статьи', admin_articles_path, class: 'glyphicon glyphicon-list-alt' %></h3></li>
	</ul>
</div>