<div class="page-header">
	<h3><%= @item.title %></h3>
</div>
<p class="lead"><%= @item.description.html_safe %></p>
<p id='author'>Создано: <%= @item.author %>, <%= time_ago_in_words(@item.created_at) %> назад</p>