@import 'items';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootsy';
@import 'font-awesome';
@import 'articles';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

#head-panel-up {
  display: none;
}

.navbar-inverse {
  border-radius: 0;
}

#head {
  @extend .navbar-inverse;
  border: 0;
  display: none;
  text-align: center;

  img {
    border: solid 1px silver;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.page-header {
  padding-bottom: 0;
  position: relative;

  &:first-child {
    margin-top: 20px;
  }
}

ul.actions {
  list-style-type: none;
  position: absolute;
  right: 2px;
  top: 4px;

  li {
    display: inline-block;
  }
}

a.new,
a.edit,
a.delete {
  @extend .btn;

  &:before {
    font-family: 'FontAwesome';
    padding-right: .5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

#admin h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 0;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

form:not(.longf) {
  max-width: 500px;
}

p#author {
  font-style: italic;
}

.col-md-4 h2 {
  font-size: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: #959595;
  padding-left: 15px;
}

#developer-panel {
  bottom: 50px;
  display: none;
  position: fixed;
  right: 10px;
  width: 300px;
}

.comment-panel {
  float: right;
  position: relative;
  margin-top: 15px;
}

.glyphicon-trash {
  color: #5a5555;
  display: none;
  float: right;
  font-family: 'FontAwesome';
  &:before {
    @extend .fa-trash;
  }

  margin-left: 12px;
  margin-top: 15px;
}
