@import "items";
@import "admin/items";
@import "comments";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootsy";
@import "font-awesome";
@import "articles";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

#head_panel_up {
  display: none;
}
.navbar-inverse {
  border-radius: 0px;
}

#head {
  @extend .navbar-inverse;
  text-align: center;
  border: 0px;
  display: none;

  img {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    border: solid 1px silver;
  }
}

.page-header {
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}

ul.actions {
  list-style-type: none;
  position: absolute;
  top: 4px;
  right: 2px;

  li {
    display: inline-block;
  }
}

a.new, a.edit, a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}
a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

#admin h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 0px;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

form:not(.longf) {
  max-width: 500px;
}

p#author {
  font-style: italic;
}

.col-md-4 h2 {
  font-size: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: #959595;
  padding-left: 15px;
}

#developer_panel {
    width: 300px;
    position: fixed;
    display: none;
    bottom: 50px;
    right: 10px;
}

.comment_panel {
  float:right;
  position: relative;
  margin-top: 15px;
}

.glyphicon-trash {
  display: none;
  margin-top: 19;
  margin-left: 12px;
  color: #5a5555;
  font-family: "FontAwesome";
  &:before {
    @extend .fa-trash;
  }
  float: right;
  margin-top: 15px;
}
