<p>Здравствуйте <%= @user.firstname + ' ' + @user.lastname %>!</p>

<p>Для изменения пароля перейдтие по данной ссылке:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали смену пароля, просто проигнорируйте это письмо</p>
<p>Ваш пароль не изменится пока вы не перейдете по этой ссылке и не зададите нвоый пароль</p>
