<p>Здравствуйте <%= @user.firstname + ' ' + @user.lastname %>!</p>

<p>Ваш аккаунт был заблокирован после нескольких неудачных попыток входа!</p>

<p>Для разблокировки аккаунта - перейдите по следующей ссылке:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
