<div class="page-header">
  <h3>Пользователи</h3>
</div>
  <p>Список всех пользователей, зарегистрированных на сайте:</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do | user | %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.lastname %></td>
          <td><%= user.firstname %></td>
          <td>
            <%= link_to user.email, user_path(user) %>
            <% if user.admin? %>
              <span class="label label-success">Admin</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>